
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500&display=swap');




*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Manrope', sans-serif;
   
  }
    
  header{
    width: 100%;
    background-color: white;
    z-index: 1000;
    position: fixed;
  }
#header .container{
  width:80%;
  margin:auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:10px 0;
  background-color: white;

}

  header logo{
    font-size: 15px;
  }
  
  nav{
    display:flex;
    align-items:center;
    column-gap:20px;
    font-size: 10px;
    
  }
  /*styling my navigation list*/
  nav ul{
    display:flex;
    align-items:center;
    column-gap:15px;
    padding-right: 30px;
    padding: 5px 20px 5px 0;
    border-right: 2px solid gray;
  }
  nav ul li{
    list-style:none;
    line-height: 28px;
    font-family: 'Playfair Display', serif;
    
  }
  
  nav .contact{
    display:flex;
    align-items:center;
    
  }


  .contact{
    padding-left: 10px;
    gap:9px;
  }

.contact .contact-image{
  background-color: #61C3A1;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
/* end of  nav styling */


/*global  styling  */
.grand-parent{
    height: 100vh;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center; 
    justify-content: center;
}


  .parent{
    height: 80%;
    width:80%;
    display: flex;
    /* gap: 20px;
       */
  }
 .child-text{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

h1{ 
  font-size: 40px;
  padding-bottom: 20px;
  
}





.butn{
  color:  white;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #FF6433;
  font-size: 8px;
  border: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

.open{
  font-size: 10px;
  color:grey;
}  
 
/* end of global styling */
.parent .child-text .info h1{
  width:75%;
}

 .parent .child-text .info .child-text-icon-text{
    display: flex;
    gap: 10px;
 }
 

 .parent .child-text .info .child-text-icon-text .text .day{
    font-size: 13px;
 }







/*image part styling */
main .parent .child-image{
    width: 50%;
    height: 100%;
    background-image: url('../img/Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
main .parent .child-image .service{
    width: 70%;
    position: absolute;
    top: 0;
    left: -21%;
} 
main .parent .child-image .rating{
    width: 70%;
    position: absolute;
    bottom: 0;
    right: -20%;





}
   

/* car service section  */
#car {
  background-color: #E2E6E9;
  

}

#car .car-service {
  width:50%;
  
  
}

#car .parent .car-service h1{
  width: 75%;
}
#car .car-service .con-serve{
  display:flex;
  column-gap:10px;
  padding:12px 0px;
  width: 41%;
 }

 #car .car-service .con-serve p{
  font-size:10px;
 
 }
 #car .car-service .con-serve #icon{
  background-color: white;
  border-radius: 50px;
 }
 #car .car-service .more-about-text{
  display: flex;
  gap: 15px;
  padding: 23px 0 0 30px;
 }



#car .parent .car-qoute {
 
  width: 50%;
  height: 100%;
  

}
#car .parent .car-qoute h1{
  padding-bottom:20px;
  font-size: 40px;
  width: 85%;
 


} 
  
form{
  margin-top: 10px;
  display:flex;
  flex-direction:column;
  padding-bottom: 20px;
  gap: 2px;
}

form input{
  border: none;
  width: 70%;
  height: 35px;
}
 input::placeholder{
  font-size: 9px;  
}




/* process to help styling */

#help .parent .help-process{
  height: 90%;
}
#help .parent .help-process h1{
  width:80%;
}
#help .parent .help-process p{
  width:48%;
}


#help .parent .gbg{

  width: 50%;
}
 #help .gbg  .get
{
  margin-top: 20px;
  display: flex;
  gap: 7px;
  
}

#help .gbg .get .number
{
  display: flex;
}
#help .gbg .get .number h4{
  padding: 16px 3px 5px 12px;
}
#help .gbg .get .qoute .through{
 width: 55%;
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center; 
}
#help .gbg .get .qoute .through img{
  margin-left: 20px;
}
#help .gbg .get .qoute .through .last {
 padding-left: 60px; 

}

 
#help .gbg .get h4{
  padding-top: 7px;
  
}
#help .gbg .get p{ 
  font-size: 12px;
  color: #1E1B1B;
    
}




/* WHAT WE OFFER STYLING */

#offer{
background-color: #E2E6E9;
}
#offer .content{
  text-align: center;
  width: 100%;
}
#offer .content h1{
  width: 57%;
  margin: auto;
}
#offer .content .offer-cards{
display: flex;
flex-wrap: wrap;
gap: 5px;
justify-content: center;
margin-top: 10px;
/* padding-top: 20px; */


}

#offer .content .offer-cards .card{
  background-color: white;
  height: 150px;
  width: 220px;
  display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center;
    gap: 20px;
}
#offer .content .offer-cards  .wheel-repair{
  background-color: #FF6433;
  color: white;
}
#offer .content  .learn{
  width: 89%;
  display: flex; 
  gap: 7px;
  margin: 20px;
  justify-content: flex-end;
}



/* get in touch styling*/
#get-in-touch {
  height: 70vh;
  width: 100%;
  background-color: #E2E6E9;
}

#get-in-touch .first-row {
  height: 75%;
  width: 100%;
  display: flex;
}

#get-in-touch .first-row .left-car {
  width: 50%;
  height: 100%;
  background-image:url('../img/car-left.png') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}

 #get-in-touch .first-row .left-car .left-car-card {
  height: 100%;
  width: 70%;
  background-color: #ff6433;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px; 
}

#get-in-touch .first-row .left-car .left-car-card .write-up h1{
  color:#FFFFFF;
  font-size: 30px;
  width: 110%;
}

#get-in-touch .first-row .left-car .left-car-card .write-up #card-butn{
background-color: #1E1B1B;


}

#get-in-touch  .right-car {
  width: 50%;
  height: 100%;
  background-image: url('../img/car-right.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#get-in-touch .second-row .context {
  height: 25%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
#get-in-touch .second-row .context .one{
  margin: auto;
}

#get-in-touch .second-row .context .one h1{
  padding-bottom: 0%;
  color: #661CE7;

}

/*for mobile */
 @media screen  and (min-width: 310px) and (max-width: 430px)
{
  #header{
    position:sticky;
  }
  #header .container{
    width:100%;
    padding: 0 10px;
    flex-direction: column;
  }
 
  header h1{
  font-size: 20px;
  text-align: center;
  padding-bottom: 9px;
  }
  nav{
    flex-direction: column;
    font-size: 12px;
    column-gap: 13px;
    margin-bottom: 5px

  }
  nav ul{
    display:flex;
    height: 20px;
    column-gap:15px;
    padding-right: 30px;
    border:none;
  }

  .contact .contact-image{
    width: 15px;
    height: 15px;
  }

.contact .contact-image .phone-icon{
font-size: 10px;
}
nav .contact .contact-text{
  font-size: 12px;
}

.grand-parent{
  
  height: auto;
}

.grand-parent .dimension{
  flex-direction: column-reverse;
}
.parent{
  height: auto;
  width: 100%;
  flex-direction: column;
  padding:0 10px;
  row-gap: 20px;
}

.child-text{
  
  width: 100%;
  padding:20px 0;  
}
.grand-parent .parent .child-text .info{
  text-align: center;
  width: 100%;
}
.grand-parent .parent .child-text .info h1{
  width: 100%;
  font-size: 30px;
  padding-bottom: 10px;
  
 }

 .grand-parent .parent .child-image{
  padding: 20px 0;
  width:100%;
  height:50vh;
 }

 main .parent .child-image .service{
  left: 0;
 }
 main .parent .child-image .rating{
  right: 0;
 }
.open{
  font-size: 15px;
}

/* Car service channel */
#car .car-service{
  width: 100%;
}
#car .car-service h1{
  padding: 20px 0;
  text-align: center;
  width: 100%;
  font-size: 30px;
  margin: auto;
}

#car .car-service .con-serve{
  width: 100%;
}
#car .car-service .con-serve p{
  width: 80%;
}

#car .car-service .more-about-text{
padding: 0;
}
#car .parent .car-qoute{
  width:100%;

}
#car .parent .car-qoute h1{
  width: 100%;
  font-size: 30px;
}
form input{
  width: 100%;
}


/* Process to help */

#help .parent .help-process h1{
  width: 100%;
}

#help .parent .help-process .info p{
  padding:20px 0;
  width: 100%;
  text-align: left;
}
#help .parent .gbg{
  padding-bottom: 40px;
  width: 100%;
 
}
#help .gbg .get .qoute .through{
  width: 100%;
}


/* WHAT WE OFFER */
  
#offer .content h1{
  font-size: 20px;
}
#offer .content .offer-cards .card{
  height: 100px;
  width: 80px;
}
#offer .content .offer-cards .card img{
  height: 20px;
}


/* GET IN TOUCH */
#get-in-touch{
  height: auto;
}
#get-in-touch .first-row{
  height: auto;
  /* width: 100%; */
  flex-direction: column; 
}
#get-in-touch .first-row .left-car{
  /* height: 39vh; */
  width: 100%;
}

#get-in-touch .first-row .right-car{
  width: 100%;
  height: 30vh;
}
#get-in-touch .second-row{
  height: auto;
  padding: 20px 0;
}
#get-in-touch .second-row .context {
  flex-wrap: wrap;
  width: 100%;
}
#get-in-touch .second-row .context .one {
  width: 50%;
  text-align: center;
}
#get-in-touch .second-row .context .one p {
  font-size: 12px;
}

#get-in-touch .second-row .context .one h1 {
  font-size: 20px;
}


}

@media screen and (min-width:425px) and (max-width:840px){
  #header{
    height: auto;
  }
  #header .container{
    width:100%;
    padding: 0 30px;
    
  }
  nav{
   
    font-size: 16px;
    text-align: center;
  }
  nav ul{
    
    display:flex;
    align-items:center;
    column-gap:15px;
    
  }

/* .contact .contact-image .phone-icon{
font-size: 12px;
} */
nav .contact .contact-text{
  padding-top: 5px;
  font-size: 14px;
}



.butn{
  font-size: 14px;
}

.grand-parent .parent .child-text .info h1{
  width: 100%;
  font-size: 60px;
}

/* car service */

#car .car-service h1{
  font-size: 30px;
}
#car .car-service .con-serve{
  width: 100%;
  font-size: 20px;
}
#car .car-service .con-serve p{
  width: 70%;
  font-size: 14px;
}

#car .parent .car-qoute h1{
  width:100%;
  font-size: 30px;
  padding-bottom: 10%;
}
form input{
  width: 100%;
  height:50px
}

/* Help process */

#help .parent .help-process h1{
  width: 100%;
}
#help .parent .help-process p{
  width: 85%;
  font-size: 16px;
}

#help .gbg{
 justify-content: center;
}
#help .gbg .get .qoute h4{
 font-size: 24px;
 
}

#help .gbg .get .qoute .through {
  width: 90%;
}

#help .gbg .get .qoute .through p{
  font-size: 16px;
  padding-bottom: 20px;
  
}


/* OFFER CONTENT */
#offer .content h1{
  font-size: 40px;
  width: 95%;
}
#offer .content .offer-cards .card{
  height: 200px;
  width: 150px;
}

#offer .content .offer-cards .card h6{
  font-size: 14px;
}
#offer .content .learn h6{
  font-size: 14px;
}
}